<% var posts = page.posts || site.posts; %>
<section class="archives-wrap">
  <div class="archive-year-wrap">
    <a href="<%- url_for(config.archive_dir) %>" class="archive-year">文章归档</a>
  </div>
  <div class="archives">
    <% posts.each(function(post){ %>
      <%- partial('_partial/archive-post', {post: post, index: true}) %>
    <% }) %>
  </div>
</section>
